[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "content/mu-plugins/co-authors-plus"]
	path = content/mu-plugins/co-authors-plus
	url = git@github.com:Automattic/Co-Authors-Plus.git
[submodule "content/mu-plugins/wordpress-memcached-backend"]
	path = content/mu-plugins/wordpress-memcached-backend
	url = git@github.com:danielbachhuber/wordpress-memcached-backend.git
[submodule "content/mu-plugins/easy-mode-auto-deploy"]
	path = content/mu-plugins/easy-mode-auto-deploy
	url = git@github.com:danielbachhuber/Easy-Mode-Auto-Deploy.git
